.media {
  position: relative;
  display: inline-block;
  height: 212px;
  width:300px;
  ovarflow:hidden;
  vertical-align: top;
  margin: 0px 5px 5px 0px;
  border-width: 5px;
  border-style: solid;
  border-color: lightblue;
  border-image: initial;
  border-radius: 3px;
}

.title, .rating{
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  position: absolute;
}

.title {
  top: 182px;
  line-height: 20px;
  width:100%;
  text-align:center;
  color: white;
  font-weight: bold;
  background-color: rgba(0,0,0,0.5);
}
.thumb img {
  width:377px;
}

.rating {
  color: yellow;
}

#searchbox{
  padding:10px;
}